{% extends "main/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<h2 class="text-center">Create an Account</h2>
<hr>
    <div class="container text-light" style="max-width: 600px;">
        <form method="POST" class="form-group text-light" style="color: white">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <p>Already have an account? Sign in <a href="/login">here</a>.</p>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}